.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* flash messages custom styling */
.flashes h4{
    line-height: 2;
    color: #fafaff;
}

/* Bold text for login link on register page */
#log-in-link {
    font-weight: bold;
}

/* Bold text for register link on login page */
#sign-up-link {
    font-weight: bold;
}

/* Bold text for recipe name on accordian */
.recipe {
    font-weight: bold;
}

/* Added padding to space out header from main content */
.header {
    padding-bottom: 50px;
}

/* Added margin to edit and delete buttons */
.btn-small {
    margin:5px;
}

/* Styling recipe name header so text sits evenly with buttons */
.collapsible-header .col span {
    margin: 5px;
    line-height: 42px;
    color: #1f1300
}

/* Styling all h3 elements to match coolor palette */
h3 {
    color:#1f1300;
}

/* Styling accordian text to match coolor palette */
.recipe-header {
    color:#1f1300;
}

/* Styling to match coolor palette */
.wheybox h4 {
    color: #1f1300;
}

/* Styling recipe text to match coolor palette */
.recipe-text-colour {
    color: #1f1300
}

/* Sticky footer template from Materialize */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* Added padding between button and footer */
.wheybox {
    padding-bottom: 50px;
}

/* Added padding above profile card panels */
.profile-header {
    padding-top: 50px;
}

/* Reduce deafult logo text size */
#logo {
    font-size: 15px;
}

/* Increase logo text size above small breakpoint*/
@media screen and (min-width: 576px){
    #logo {
        font-size: 30px;
    }
}