{% extends "base.html" %}
{% block content %}

    <h3 class="orange-text text-accent-3 center-align">Add recipe</h3>

    <!-- Form template from Materialize -->
    <div class="row card-panel grey lighten-5">
        <form class="col s12 method="POST" action="{{ url_for('add_recipe')}}">
            <!-- Recipe category selection field -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix orange-text text-accent-3"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Task Category</label>
				</div>
			</div>
            <!-- Recipe name field -->
            <div class="row">
                <div class="input-field col s12">
                    <!-- Icon from Font Awesome -->
                    <i class="fas fa-pencil-alt prefix orange-text text-accent-3"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="20"
                     type="text" class="validate" required>
                    <label for="recipe_name">Recipe name</label>
                </div>
            </div>
            <!-- Recipe description field -->
            <div class="row">
                <div class="input-field col s12">
                    <!-- Icon from Font Awesome -->
                    <i class="fas fa-align-left prefix orange-text text-accent-3"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                    maxlength="200"class="materialize-textarea validate" required></textarea>
                    <label for="recipe_description">Recipe description</label>
                </div>
            </div>
            <!-- Recipe ingredients field -->
            <div class="row">
                <div class="input-field col s12">
                    <!-- Icon from Font Awesome -->
                    <i class="fas fa-shopping-cart prefix orange-text text-accent-3"></i>
                    <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                    maxlength="200"class="materialize-textarea validate" required></textarea>
                    <label for="recipe_ingredients">Recipe ingredients</label>
                </div>
            </div>
            <!-- Is easy toggle switch -->
            <div class="row">
                <!-- Switch template from Materialize -->
                <div class="input-field col s12">
                    <div class="switch">
                        <!-- Icon from Font Awesome -->
                        <i class="fas fa-utensils prefix orange-text text-accent-3"></i>
                        <label for="is_easy">
                          <input type="checkbox" id="is_easy" name="is_easy">
                          <span class="lever"></span>
                          Is easy
                        </label>
                      </div>
                </div>
            </div>
            <!-- Submit form button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- Button template from Materialize -->
                    <button class="btn waves-effect waves-light orange accent-3 center-align" type="submit">Add recipe
                        <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
        

{% endblock %}