{% extends "base.html" %}
{% block content %}

    <h3 class="orange-text text-accent-3 center-align">Edit recipe</h3>

    <!-- Form template from Materialize -->
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!-- Recipe category selection field -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix orange-text text-accent-3"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                            <!-- Add selected attribute if recipe category name is a match -->
                            {% if category.category_name == recipe.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
					<label for="category_name">Task Category</label>
				</div>
			</div>
            <!-- Recipe name field -->
            <div class="row">
                <div class="input-field col s12">
                    <!-- Icon from Font Awesome -->
                    <!-- Get current recipe name from database-->
                    <i class="fas fa-pencil-alt prefix orange-text text-accent-3"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                     value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                    <label for="recipe_name">Recipe name</label>
                </div>
            </div>
            <!-- Recipe description field -->
            <div class="row">
                <div class="input-field col s12">
                    <!-- Icon from Font Awesome -->
                    <!-- Get current recipe description from database-->
                    <!-- Removed whitespace to sit nicely on line -->
                    <i class="fas fa-align-left prefix orange-text text-accent-3"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                    maxlength="200" class="materialize-textarea validate" required>
                        {{- recipe.recipe_description -}}
                    </textarea>
                    <label for="recipe_description">Recipe description</label>
                </div>
            </div>
            <!-- Recipe ingredients field -->
            <div class="row">
                <div class="input-field col s12">
                    <!-- Icon from Font Awesome -->
                    <!-- Get current recipe ingredients from database-->
                    <!-- Removed whitespace to sit nicely on line -->
                    <i class="fas fa-shopping-cart prefix orange-text text-accent-3"></i>
                    <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                    maxlength="400" class="materialize-textarea validate" required>
                        {{- recipe.recipe_ingredients -}}
                    </textarea>
                    <label for="recipe_ingredients">Recipe ingredients</label>
                </div>
            </div>
            <!-- Recipe method field -->
            <div class="row">
                <div class="input-field col s12">
                    <!-- Icon from Font Awesome -->
                    <!-- Get current recipe method from database-->
                    <!-- Removed whitespace to sit nicely on line -->
                    <i class="fas fa-list-ol prefix orange-text text-accent-3"></i>
                    <textarea id="recipe_method" name="recipe_method" minlength="5"
                    maxlength="1000" class="materialize-textarea validate" required>
                        {{- recipe.recipe_method -}}
                    </textarea>
                    <label for="recipe_method">Recipe method</label>
                </div>
            </div>
            <!-- Recipe calories field -->
            <div class="row">
                <div class="input-field col s6">
                    <!-- Get current recipe calories from database-->
                    <!-- User limited to inputting numbers only -->
                    <input id="recipe_calories" name="recipe_calories" 
                    value="{{ recipe.recipe_calories }}" type="number" 
                    min="0" max="1000" class="validate" required>
                    <label for="recipe_calories">Calories</label>
                </div>
            <!-- Recipe protein field -->
            <div class="input-field col s6">
                    <!-- Get current recipe protein from database-->
                    <!-- User limited to inputting numbers only -->
                    <input id="recipe_protein" name="recipe_protein" 
                    value="{{ recipe.recipe_protein }}" type="number" 
                    min="0" max="1000" class="validate" required>
                    <label for="recipe_protein">Protein</label>
                </div>
            </div>
            <!-- Recipe carbohydrates field -->
            <div class="row">
                <div class="input-field col s6">
                    <!-- Get current recipe carbohydrate from database-->
                    <!-- User limited to inputting numbers only -->
                    <input id="recipe_carbohydrate" name="recipe_carbohydrate" 
                    value="{{ recipe.recipe_carbohydrate }}" type="number" 
                    min="0" max="1000" class="validate" required>
                    <label for="recipe_carbohydrate">Carbohydrate</label>
                </div>
            <!-- Recipe fat field -->
            <div class="input-field col s6">
                    <!-- Get current recipe fat from database-->
                    <!-- User limited to inputting numbers only -->
                    <input id="recipe_fat" name="recipe_fat" 
                    value="{{ recipe.recipe_fat }}" type="number" 
                    min="0" max="1000" class="validate" required>
                    <label for="recipe_fat">Fat</label>
                </div>
            </div>
            <!-- Is easy toggle switch -->
            <div class="row">
                <!-- Switch template from Materialize -->
                <div class="input-field col s12">
                    <div class="switch">
                        <!-- Icon from Font Awesome -->
                        <i class="fas fa-utensils prefix orange-text text-accent-3"></i>
                        <label for="is_easy">
                            <!-- Check to see if recipe was marked as easy -->
                            {% if recipe.is_easy == "on" %}
                                <input type="checkbox" id="is_easy" name="is_easy" checked>
                            {% else %}
                                <input type="checkbox" id="is_easy" name="is_easy">
                            {% endif %}
                            <span class="lever"></span>
                            Is easy
                        </label>
                      </div>
                </div>
            </div>
            <!-- Submit form button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- Button to cancel changes and return user to recipes page-->
                    <a href="{{ url_for('recipes') }}" class="btn-small red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <!-- Button template from Materialize -->
                    <button class="btn waves-effect waves-light orange accent-3 center-align" type="submit">
                        Edit recipe
                        <!-- Icon from Font Awesome -->
                        <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
        
{% endblock %}