{% extends "base.html" %}
{% block content %}

<section class="center-align header">
    <h3>Whey Too Tasty!</h3>
    <p>
      Here you will find lots of tasty, 
      protein-packed recipes to fuel your healthy lifestyle.
    </p>
      <!-- button linked to recipes page -->
      <a class="waves-effect waves-light btn orange accent-4 center-align" 
        href="{{ url_for('recipes') }}" target="_blank">Find recipes</a>
    <!-- Carousel template from Materialize -->
    <div class="carousel">
      <a class="carousel-item" href="#one!">
        <img src="{{url_for('static', filename='/images/' + 'whey_protein_sachets.png')}}" 
          alt="women holding whey protein sachets"></a>
      <a class="carousel-item" href="#two!">
        <img src="{{url_for('static', filename='/images/' + 'protein_shake.png')}}" 
          alt="women drinking protein shake"></a>
      <a class="carousel-item" href="#three!">
        <img src="{{url_for('static', filename='/images/' + 'protein_porridge.png')}}" 
          alt="women making protein porridge"></a>
      <a class="carousel-item" href="#four!">
        <img src="{{url_for('static', filename='/images/' + 'female.png')}}" 
          alt="female holding a protein sachet"></a>
      <a class="carousel-item" href="#five!">
        <img src="{{url_for('static', filename='/images/' + 'open_sachet.png')}}" 
          alt="person opening protein powder"></a>
    </div>
  </section>

{% endblock %}
