{% extends "base.html" %}
{% block content %}

<section class="profile-header">
  <!-- User profile header -->
  <!-- Card panel template from Materialize -->
  <div class="row">
    <div class="col s12 m8 offset-m2 grey darken-2">
      <div class="card-panel">
        <h3 class="center-align orange-text text-accent-3">
          {{ username }}'s profile
        </h3>
      </div>
    </div>
  </div>
</section>

<section>
  <!-- Image card templates from Materialize -->
  <!-- Shop whey protein card -->
  <div class="row profile-header">
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='/images/' + 'shop-whey-protein.png')}}"
            alt="different flavours of whey protein">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <h5>Do you need whey protein?</h5>
          <p>Whey protein is an essential ingredient for our recipes!
            Make sure you have yours!
          </p>
        </div>
        <div class="card-action center-align">
          <!-- Button linked to whey protein shop -->
          <a href="https://www.wheybox.com/shop/" target="_blank" 
            class="btn-small orange accent-4" >Shop whey protein</a>
        </div>
      </div>
    </div>
    <!-- Need recipe inspiration card -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='/images/' + 'new-recipe.png')}}"
            alt="high-protein recipe photo">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <h5>Do you need inspiration?</h5>
          <p>Search our recipe database for lots of high-protein meals, snacks and drinks.</p>
        </div>
        <div class="card-action center-align">
          <!-- Button linked to recipes page -->
          <a href="{{ url_for('recipes') }}" 
            class="btn-small orange accent-4" >Find a recipe</a>
        </div>
      </div>
    </div>
    <!-- Add recipe card -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='/images/' + 'add-recipe.png')}}"
            alt="question mark image">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <h5>Do you have a good recipe?</h5>
          <p>Add your recipe to our database to share your creation with others.</p>
        </div>
        <div class="card-action center-align">
          <!-- Button linked to add recipe page -->
          <a href="{{ url_for('add_recipe') }}" 
            class="btn-small orange accent-4" >Add your recipe</a>
        </div>
      </div>
    </div>
  </div>
</section>    

{% endblock %}
