{% extends "base.html" %}
{% block content %}

    <!-- Recipe header -->
    <div class="section center-align recipe-header">
        <h3>Whey Too Tasty recipes</h3>
            <p>
            Search the recipes below to find your perfect
            meal, snack or drink.
            </p>
    </div>

    <!-- Search recipes bar -->
    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix orange-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search recipes</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('recipes') }}" class="green btn">Reset</a>
                    <button type="submit" class="orange darken-4 btn">
                        <i class="fas fa search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if recipes|length > 0 %}
    <!-- Accordian template from Materialize -->
    <ul class="collapsible">
        <!-- Get recipe info from database and put into accordian-->
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header amber lighten-3">
                <div class="col s3">
                    <!-- Icon from Font Awesome -->
                    <i class="fas fa-caret-down orange accent-4"></i>
                    <!-- Only allow user to edit their own recipes -->
                    {% if session.user|lower == recipe.created_by|lower %}
                    <!-- Edit and delete buttons -->
                    <!-- Modal template from Materialize -->
                    <!-- Modal Trigger when delete button selected -->
                    <a class="red accent-4 btn-small modal-trigger" href="#modal1">Delete</a>
                    <!-- Modal Info -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Stop!</h4>
                            <p>Are you sure you want to delete this recipe?</p>
                        </div>
                        <div class="modal-footer">
                            <!-- Green save recipe button -->
                            <a href="{{ url_for('recipes') }}" 
                                class="modal-close btn-small green accent-4">No, save recipe</a>
                            <!-- Red confirm delete recipe button -->
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" 
                                class="modal-close btn-small red accent-4">Yes, delete recipe</a>
                        </div>
                    </div>
                    <!-- Edit recipe button -->
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" 
                            class="btn-small orange accent-4">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9 recipe-text-colour">
                    <!-- Display recipe name and description -->
                    <span class="recipe">
                        {{ recipe.recipe_name }}
                      </span> : {{ recipe.recipe_description }}
                      {% if recipe.is_easy == "on" %}
                          <!-- Icon from Font Awesome -->
                          <!-- Tool tip template from Materialize -->
                          <i class="fas fa-utensils tooltipped"
                              data-position="right" data-tooltip="Quick & easy recipe"></i>
                      {% endif %}
                </div>
            </div>
            <div class="collapsible-body recipe-text-colour">
                <!-- Add recipe details from database from add recipe form-->
                <h5>{{ recipe.category_name }}</h5><br>
                <p>
                    <!-- Make ingredients title bold -->
                    <b>Ingredients:</b>
                    <!-- Add ingredients -->
                    {{ recipe.recipe_ingredients }}<br><br>
                    <!-- Make method title bold -->
                    <b>Method:</b>
                    <!-- Add method -->
                    {{ recipe.recipe_method}}<br><br>
                    <!-- Add kcal and macros -->
                    Calories: {{ recipe.recipe_calories }}<br>
                    Protein: {{ recipe.recipe_protein }}<br>
                    Carbohydrate: {{ recipe.recipe_carbohydrate }}<br>
                    Fat: {{ recipe.recipe_fat }}<br><br>
                    <!-- Add creator details from session cookie -->
                    <em>by: {{ recipe.created_by }}</em>
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
    <!-- If no recipe found in search, display message -->
    {% else %}
    <h3 class="red-text text-darken-4 center-align">No results found</h3>
    {% endif %}

{% endblock %}
